{% extends 'static_page.html' %}
{% block content %}
<div class="outer-container">
  <div class="row content-offset">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="content-offset">
        Cripes! det ligner noget er g&aring;et galt.
      </h1>
      <h2>
        Server Error (500)
      </h2>
      <p class="lead">
        Vores tekniske support er automatisk blevet informeret om din fejl og har valgt at ignorere den. God vind!
      </p>
    </div>
  </div>
</div>
{% endblock %}
