<script type="text/ng-template" id="list_keyboard_shortcuts.html">
  <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" ng-click="cancel()">×</button>
	<h3><i class="fa fa-keyboard-o"></i> Keyboard Shortcuts</h3>
  </div>
  <div class="modal-body">
    <table >
      <tr>
        <td>
          <span class="label label-default">?</span>
        </td>
        <td>
          Vi denne hjaelpe dialog
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-default">enter</span>
        </td>
        <td>
            vis detaljerne for den valgte patient
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-default">up</span>
        </td>
        <td>
          Gaa up
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-default">down</span>
        </td>
        <td>
          Gaa ned
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-default">N</span>
        </td>
        <td>
          Tilfoej ny patient
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-default">/</span>
        </td>
        <td>
          Soeg
        </td>
      </tr>
    </table>
  </div>
</div><!-- /.modal-content -->
</script>
